$light-grey: #ccc;
body {

}
.box {
	width: 400px;
	height: 150px;
	border: 1px solid $light-grey;
	border-radius: 10px;
	position: absolute;
}
.dropdown {
	width: 200px;
	height: 20px;
	border: 1px solid $light-grey;
	position: relative;
	box-sizing: border-box;

	.list {
		width: 180px;
		position: absolute;
		box-sizing: border-box;
		top: 20px;
		right: -1px;
		border: 1px solid $light-grey;
	}
}
.char {
	color: #00AED8;
	position: absolute;
}